:root {
    --text: #4F5852;
    --darkText: #1C211D;
    --bg: #F8FAF8;
    --h: #1C211D;
    --accent: rgb(0, 80, 52);
    --cardsBg: #DDE5DF;
    --hr: #DDE5DF;

    --h1Height: 64px;
    --h2Height: 32px;
    --pHeight: 20px;

    --sans: 'Inter', sans-serif;
    --heading: 'Playfair Display DS', serif;
    --mono: ui-monospace, Consolas, monospace;

    font-family: var(--sans);
    flex: 1;

    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--bg);
}

#center {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    align-items: center;

    flex: 1;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--hr);
    width: 100%;
    margin-top: 0;
    padding: 0;
}

h2 {
    font-family: var(--heading);
    font-size: var(--h2Height);
    font-weight: normal;
}

h3{
    font-family: var(--heading);
    font-size: var(--h2Height);
    font-weight: normal;
    margin: 0;
}

.button-like {
    display: inline-block;
    margin: 1%;
    width: 25%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 24px;
    font-family: var(--heading);
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}

.button-like:focus {
    outline-color: var(--accent);
}

footer {
    width: 100%;
    background-color: var(--cardsBg);
    bottom: 0;
    align-content: center;
    text-align: center;
    color: var(--text);
    font-style: italic;
    margin-top: auto;
}

.card {
    background-color: var(--cardsBg);
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
}


.input {
    height: 40px;
    border-radius: 20px;
    border: none;
}

.context-nav{
    font-family: var(--heading);
    font-size: 20px;
    width: 40%;
    color: var(--text);
}

.modal-divider{
    border: none;
    height: 2px;
    background-color: var(--accent);
    margin: 0;
}