.main-title{
    font-family: var(--heading);
    color: var(--accent);
    font-size: var(--h1Height);
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p{
    font-family: var(--sans);
    color: var(--text);
    font-size: var(--pHeight);
}

.description{
    width: 40%;
    text-align: left;
    @media (max-width: 1024px) {
        width: 95%;
    }
}

.slogan{
    text-align: center;
}

.slide-img {
    border-radius: 20px;
    height: 220px;
    width: 293px;
}

.slider-wrapper {
    height: 300px;
    width: 400px;
    margin: 2%;
}

.swiper {
    height: 100%;
}

.swiper-pagination-bullet {
    background-color: var(--text);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--darkText);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subText{
    font-size: 13px;
    margin: 0;
}

.regButton{
    background-color: var(--accent);
    color: var(--bg);
    transition-duration: 0.4s;
}

.signInButton{
    background-color: var(--cardsBg);
    color: var(--darkText);
    margin-top: 0;
}
